.burger_constructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding-bottom: 20px;
  color: var(--text-primary-color);
}

.burger_constructor_list {
  width: 100%;
  overflow: auto;
}

.burger_constructor_element {
  max-height: 80px;
}

.constructor_element_stub {
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger_constructor_footer {
  display: flex;
  justify-content: end;
  align-items: center;
}

.constructor_currency_icon {
  width: 36px;
  height: 36px;
}
