body {
  margin: 0;
}

.border-lightblue .constructor-element {
  border: 1px solid #4c4cff;
}

.border-transparent .constructor-element {
  border: 1px solid transparent;
}

/* Fix for scrollbar */

@supports (scrollbar-color: auto) {
  .custom-scroll {
    scrollbar-color: #8585ad #2f2f37;
    scrollbar-width: thin;
  }

  body {
    scrollbar-color: #8585ad #2f2f37;
    scrollbar-width: thin;
  }
}
